
@{
    ViewData["Title"] = "MileageResult";
}



@model Tripometer
<h1>Range Till Empty</h1> <!--does not have to match MilleageResult-->


@{double range = Model.MPG * Model.Gallons;}
@{double rangeleft = range - Model.Trip;}

<h2>Range: @range</h2>

@if (range < Model.Trip)
{
    <h2 style="color: red;">You need more gas</h2>
}
else
{
    <h2 style="color: green;">You have enough gas</h2>
}

