@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        
        <h3><a href="../Trip/MileageForm">Mileage Form</a>.</h3>
        <h3><a href="../Maths/AddNumbers">Add Numbers</a>.</h3>
        <h3><a href="../Maths/DivideNumbers">Divide Numbers</a>.</h3>
        
    </div>
