
@{
    ViewData["Title"] = "DivideNumbers";
}

<h1>DivideNumbers</h1>

<form action="../Maths/DivideNumbers" method="post">
    Number 1: <input type="number" name="num1" value="" />
    Number 2: <input type="number" name="num2" value="" />
    <input type="submit" value="Divide" />


</form>